.optionsWrap {
    display: flex;
    justify-content: space-around;
}

.panelOption {
    height: 30px;
    width: 30px;
    margin: 5px 0;
    background-color: green;
    border-radius: 50%;
    cursor: pointer;
}

.panelOption:nth-of-type(1) {
}