.cardsWrap {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    position: relative;
    flex-basis: 30%;
    height: 25vh;
    margin: 5px;
    padding: 5px;
    z-index: -2;
    border: 2px solid black;
}

.card--big {
    height: 50vh;
    flex-basis: 70%;
    background-color: blue;
}

.card__name {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.card__player {
    position: absolute;
    z-index: -1;
    right: 5%;
}

.icon {
    background-color: white;
}

.gold {
    background-color: gold;
}
.silver {
    background-color: silver;
}