.cardsWrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    position: relative;
    flex-basis: 30%;
    height: 25vh;
    margin: 5px;
    padding: 5px;
    background-color: aqua;
    z-index: -2;
}

.card__name {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.card__player {
    position: absolute;
    z-index: -1;
    right: 5%;
}